* {
    margin: 0;
    padding: 0;
}

.banniere {
    background-color: black;
    color: white;
    padding: 6px 0;
    overflow: hidden;
}

.banniere p {
    animation: defilement 25s linear infinite;
    position: relative;
    width: fit-content;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
}

@keyframes defilement {
    0% {
        left: 100%;
        translate: 100%;
    }
    100% {
        left: 0;
        translate: -100%;
    }
}